api/.env
api/.env.local
api/node_modules
apprenant/node_modules
admin/node_modules
front/node_modules
front.old/nodeModules
node_modules

.env.local
.env
**/.DS_Store
/tmp
/front/tmp/npm-cache/_cacache/content-v2/sha512/00/1d
