(ovh_challenge) {
    tls {
        dns ovh {
            endpoint {$OVH_ENDPOINT}
            application_key {$OVH_APPLICATION_KEY}
            application_secret {$OVH_APPLICATION_SECRET}
            consumer_key {$OVH_CONSUMER_KEY}
        }
    }
}

{$DOMAIN} {
    import ovh_challenge
    reverse_proxy lxp:3000
}
