.rbc-month-row {
    background: linear-gradient(to right, #f8f9fa, #ffffff);
    min-height: 100px;
}

.rbc-date-cell {
    padding: 8px;
    font-weight: 500;
    color: #495057;
}

.rbc-today {
    background: transparent;
    color: black;
    position: relative;
}
