body {
  font-family: "Inter";
}

.bgApprenant {
  background: linear-gradient(180deg, #76284e 0%, #202237 100%);
}

.input {
  background: rgba(118, 40, 78, 0.06);
  padding: 20px;
  padding-left: 30px;
  border-radius: 15px;
  width: 100%;
}

.inputLeft {
  background: rgba(118, 40, 78, 0.06);
  padding: 20px;
  padding-left: 30px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 100%;
}

.inputRight {
  background: rgba(118, 40, 78, 0.06);
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 10%;
  background-size: 4vmin;
  background-repeat: no-repeat;
  background-position: center;
}

.bgEyeOpen {
  background-image: url("../../public/connexion/eye-open.svg");
}

.bgEyeClosed {
  background-image: url("../../public/connexion/eye-closed.svg");
}

input::placeholder {
  color: rgba(118, 40, 78, 0.4);
}

@font-face {
  font-family: "Inter";
  src: url("../../public/inter.ttf");
}
