DATABASE_URL="postgresql://postgres:postgres@localhost:5432/db_name"
DOCKER_IA_API_BASE_URL=""

EMAIL="exeample@test.fr"
PASSWORD=""
SMTP = smtp.example.com
SMTP_EMAIL=exemple@test.fr
SMTP_PORT = 123
FROM = Andria Admin <exemple@test.fr>

MONGO_LOCAL_URL=mongodb://localhost:27000/lxp

REGISTER_SECRET=secret_pour_le_jeton_d_activation
SECRET=secret_pour_le_jeton_de_session_tres_long_et_complexe_et_secret

STATIC_FILES_URL="http://localhost:8080/"
DOWNLOAD_URL=http://localhost:3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=db_name

ENVIRONMENT=development

FRONT_URL=http://localhost:5173/
PORT=3000
