node_modules
.env
.env.local
dist/
logs/
uploads/activities/*
uploads/activities/files/*
uploads/activities/videos/*
uploads/activities/images/*

# keep folders
!uploads/activities/files
!uploads/activities/files/.gitkeep
!uploads/activities/videos
!uploads/activities/videos/.gitkeep
!uploads/activities/images
!uploads/activities/images/.gitkeep
!uploads/activities/company/.gitkeep
!uploads/activities/company
